.footer {
    display: flex;
    padding: 1em 0 1em 0;
    background-color: var(--branco);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 1000;
    flex-wrap: wrap;
}

.footer__list {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer__list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

.item-label {
    color: var(--cinza-escuro);
    font-size: 12px;
}

.label--appointment {
    font-size: 12px;
    color: var(--azul);
}
